<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8"/>
    <title>组态图形绘制</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cs_paint.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body style="height: 100%">
<!--打开文件-->
<input id="openfile" type="file" onchange="fileChange()" style="display: none"/>
<!--<a href="javascript:void(0)" id="aa">保存</a>-->
<!--菜单-->
<div id="cspaint_menu" style="border-bottom: 1px solid #2984a4">
    <a id="file" class="easyui-menubutton"
       data-options="menu:'#file_menu',hasDownArrow:false">文件</a>
    <div id="file_menu" style="width:150px;">
        <!--<div data-options="iconCls:'icon-undo'">Undo</div>-->
        <div onclick="openCanvasSizeDialog()">画布大小</div>
        <div onclick="newFile()" data-options="iconCls:'icon-open'">新建</div>
        <div onclick="openFile()" data-options="iconCls:'icon-open'">打开</div>
        <div onclick="saveFile()" data-options="iconCls:'icon-save'">保存</div>
        <div onclick="saveAsFile()" data-options="iconCls:'icon-save'">另存为</div>
    </div>

    <div id="shapes" style="width: 60%;display: inline-block;margin-left: 100px">
        <!--<a id="rect" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">□</a>-->
        <button onclick="addRect()"><img src="/image/rect.png"/></button>
        <button onclick="addCircle()"><img src="/image/circle.png"/></button>
        <button onclick="addPolygon()"><img src="/image/polygon.png"/></button>
        <button onclick="addLine()"><img src="/image/line.png"/></button>
        <button onclick="addLineArrow()"><img src="/image/line-arrow.png"/></button>
        <button onclick="addText()"><img src="/image/text.png"/></button>
        <button onclick="addImg()"><img src="/image/image.png"/></button>
        <div style="display: inline-block;" onmouseenter="showGalleryPanel()">
            <button><img src="/image/ku.png"/></button>
            <!--图库面板-->
            <div id="gallery_panel"
                 style="position:absolute;z-index: 99999;display: none;width: 300px;height: 50px;background-color: #aeff72">
                <input id="galleryfile" type="file" onchange="galleryFileChange()"/>
                <button class="icon-save" onclick="saveGallery()" style="width: 16px;height: 16px"></button>
                <br/>
            </div>
        </div>
    </div>

</div>
<!--选择图片-->
<input style="display: none" type="file" accept="image/*" id="image_file" onchange="onImgChange(this.files[0])"/>
<!--属性表格-->
<div id="propertygrid_container" style="display: inline-block;float: right;background-color: #b52b27">
    <table id="cspaint_propertygrid"></table>
</div>
<!--画布-->
<div id="canvas_container" tabindex="0" style="display: inline-block;float: left;background-color: #0E2D5F">
    <div id="cspaint_canvas_panel" class="easyui-panel"
         style="padding: 0px;background-color: #666666;position: absolute">
        <canvas id="cspaint_canvas"
                style="border: dashed 4px #aaaaaa;background-color: #eeeeee;
                        position: inherit;z-index: 1"></canvas>
        <canvas id="cspaint_canvas_select"
                style="border: dashed 4px rgba(0,0,0,0);background-color: rgba(0,0,0,0);
                        position: inherit;z-index: 2;"></canvas>
    </div>
</div>

<!--画布尺寸设置对话框-->
<div id="canvas_size_dialog" class="easyui-dialog">
    <div><input id="canvas_width" style="width:200px"/></div>
    <div><input id="canvas_height" style="width:200px"/></div>
</div>

<!--图库右键菜单-->
<div id="gallery_menu" class="easyui-menu" style="width:150px">
    <div onclick="deleteShapeFromGallery()" data-options="iconCls:'icon-remove'">删除</div>
</div>
<!--右键菜单-->
<div id="context_menu" class="easyui-menu" style="width:150px">
    <div onclick="makeGroup()" data-options="iconCls:'icon-redo'">组合</div>
    <div onclick="unMakeGroup()" data-options="iconCls:'icon-undo'">取消组合</div>
    <div class="menu-sep"></div>
    <div onclick="toUpper()">上一层</div>
    <div onclick="toLower()">下一层</div>
    <div onclick="toBottom()">置底</div>
    <div onclick="toTop()">置顶</div>
    <div class="menu-sep"></div>
    <div onclick="topAlign()">向上对齐</div>
    <div onclick="bottomAlign()">向下对齐</div>
    <div onclick="leftAlign()">向左对齐</div>
    <div onclick="rightAlign()">向右对齐</div>
    <div class="menu-sep"></div>
    <div onclick="hMirror()">水平镜像</div>
    <div onclick="vMirror()">竖直镜像</div>
    <div onclick="rotateAngle(90)">顺时针旋转90°</div>
    <div onclick="rotateAngle(-90)">逆时针旋转90°</div>
    <div class="menu-sep"></div>
    <div onclick="del()" data-options="iconCls:'icon-remove'">删除</div>
    <div onclick="selectAll()">全选</div>
    <div onclick="addShapeToGallery()">添加到图库</div>
</div>

<!--组态对话框-->
<div id="cfg_dialog">
    <div>
        <span class="label">元素ID</span><span id="cfg_shapeId" class="value"></span>
        <span class="label">元素类型</span><span id="cfg_shapeType" class="value"></span>
        <span class="tip">操作提示：双击条目删除</span>
    </div>
    <div style="height: 200px;background-color: #2984a4">
        <table id="cfg_datagrid"></table>
    </div>
    <div>
        <span>测点</span><input id="cfg_point" style="width: 50px;background-color: #2984a4"/>
        <input id="cfg_action"/>
        <input id="cfg_condition"/>
        <button class="icon-add" style="width: 30px;height: 30px" onclick="addCfg()"></button>
    </div>
</div>
<!--测点搜索对话框-->
<div id="searchItem_dialog">
    <input id="searchItem_groupId" class="easyui-combobox" name="groupId" data-options="url:'/manage/getgroups',valueField:'id',textField:'groupName',
    width:120,label: 'Group:',labelAlign:'right',labelWidth:45,panelHeight:'auto',panelMaxHeight:100,editable:false"/>
    <input id="searchItem_itemName" class="easyui-textbox" name="itemName"
           data-options="prompt:'ItemName',buttonIcon:'icon-search',buttonText:'搜索'"/>

    <div style="height: 300px">
        <table id="searchItem_datagrid"></table>
    </div>
</div>
<!--添加图库对话框-->
<div id="addGallery_dialog">
    <input id="gallery_name" class="easyui-textbox" data-options=""/>
</div>

<script type="text/javascript" src="/js/paint/cs_paint.js"></script>
<script type="text/javascript" src="/js/paint/PropertyGridDatas.js"></script>
<script type="text/javascript" src="/js/paint/ClickEvent.js"></script>
<script type="text/javascript" src="/js/paint/KeyEvent.js"></script>
<script type="text/javascript" src="/js/paint/obj_Shape.js"></script>
<script type="text/javascript" src="/js/paint/obj_ShapeGroup.js"></script>
<script type="text/javascript" src="/js/paint/obj_Polygon.js"></script>
<script type="text/javascript" src="/js/paint/obj_Circle.js"></script>
<script type="text/javascript" src="/js/paint/obj_Rect.js"></script>
<script type="text/javascript" src="/js/paint/obj_Line.js"></script>
<script type="text/javascript" src="/js/paint/obj_LineArrow.js"></script>
<script type="text/javascript" src="/js/paint/obj_Text.js"></script>
<script type="text/javascript" src="/js/paint/obj_Img.js"></script>
<script type="text/javascript" src="/js/paint/cfg_Configuration.js"></script>
<script type="text/javascript" src="/js/paint/cfg_Dialog.js"></script>
<script type="text/javascript" src="/js/paint/Gallery.js"></script>
</body>
</html>