<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div style="height: 98%" id="settings">
    <div style="width: 25%;height: 100%;display: inline-block;float: right">
        <div class="easyui-panel"
             data-options="title:'开/关OPC',fit:true">
            <div><a id="start_opc_btn" class="easyui-linkbutton">启动后台OPC</a></div>
            <div><a id="stop_opc_btn" class="easyui-linkbutton">停止后台OPC</a></div>
        </div>
    </div>
    <div style="width: 70%;height: 100%;display: inline-block">
        <div id="settings_window"
             class="easyui-panel"
             data-options="title:'系统详细设置',fit:true">
            <div id="settings_toolbar" style="text-align: center">
                <a id="settings_save_btn" class="easyui-linkbutton">保存</a>
            </div>
            <div><input id="push_data_interval" name="push_data_interval"/></div>
            <div><select id="enable_save_data" class="easyui-combobox" name="enable_save_data">
                <option value="true">是</option>
                <option value="false">否</option>
            </select></div>

            <div><input id="save_data_interval" name="save_data_interval"/></div>
        </div>
    </div>

</div>
<style>
    #start_opc_btn,#stop_opc_btn{
        width: 90%;
        background-color: #0E2D5F;
    }
    #settings .easyui-panel div{
        text-align: center;
        margin: 15px;
    }
</style>
<script>
    $('#settings_save_btn').linkbutton({
        iconCls:'icon-save',
        onClick:function () {
            $.post('/settings/save', {
                push_data_interval:$('#push_data_interval').numberbox('getValue'),
                enable_save_data:$('#enable_save_data').combobox('getValue'),
                save_data_interval:$('#save_data_interval').numberbox('getValue')
            }, function (data) {
                showMessager(data);
            });
        }
    });
    $('#settings_window').panel({
        onBeforeOpen:function () {
            $.post('/settings/get',{},function (data) {
                $('#push_data_interval').numberbox('setValue',data.msg.push_data_interval)
                $('#enable_save_data').combobox('setValue',data.msg.enable_save_data)
                $('#save_data_interval').numberbox('setValue',data.msg.save_data_interval)
            })
        }
    })

    $('#push_data_interval,#save_data_interval').numberbox({
        required: true,
        width: 400,
        height: 30,
        labelWidth: 150,
        min: 0,
        precision: 0
    });
    $('#push_data_interval').numberbox({
        label: '实时数据推送间隔(毫秒)'
    });
    $('#save_data_interval').numberbox({
        label: '历史数据存储间隔(毫秒)'
    });
    $('#enable_save_data').combobox({
        required: true,
        width: 400,
        height: 30,
        labelWidth: 150,
        panelHeight: 'auto',
        editable: false,
        label: '启动历史数据存存储'
    });
    $('#start_opc_btn').click(function () {
        $.post('/opcClientStart', {}, function (data) {
            showMessager(data);
        });

    });
    $('#stop_opc_btn').click(function () {
        $.post('/opcClientStop', {}, function (data) {
            showMessager(data);
        });

    });
</script>
</body>
</html>